<div class="container">
	<div class="row">
	  	<div class="col-md-6">	
			<%= render 'shared/result_items' %>
		</div>
	  	<div class="col-md-6">		
			<%= render 'shared/google_maps' %>
		</div>
	</div>
</div>