<tr>
	<td class="text-left"><%= review.id %></td> 
	<td class="text-left"><%= review.title %></td>	
	<td class="text-left"><%= review.content %></td>
	<td class="text-left"><%= review.created_at.strftime("%B %d %Y") %></td>
</tr>